body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(51, 89, 238);
  background: -moz-radial-gradient(
    center,
    rgb(51, 89, 238) 0%,
    rgb(127, 255, 245) 100%
  );
  background: -webkit-radial-gradient(
    center,
    rgb(51, 89, 238) 0%,
    rgb(127, 255, 245) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgb(51, 89, 238) 0%,
    rgb(127, 255, 245) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
